@import 'https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap';
@import 'https://fonts.googleapis.com/css2?family=K2D&family=Roboto+Mono&display=swap';

body,table{
    /* font-family: 'Kanit', sans-serif !important; */
    font-family: 'K2D', sans-serif !important;
}
div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
  div.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
  }
  
  .txt-header {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 36px !important;
  }
  
  div.container {
    padding: 10px;
  }
  
  .layout-text-center {
      display: flex;
      justify-content: center;
  }
  
  .layout-al-center {
      display: flex;
      align-items: center;
  }
  
  th.text-left {
    text-align: left;
  }
  
  th.text-center {
    text-align: center;
  }
  
  .btn-nav {
    color: #d9e1ec;
    font-size: 17px;
    font-family: 'K2D', sans-serif !important;
  }
  
  .btn-nav:hover {
    cursor: pointer;
    color: #2e64cf;
  }

  .icon-leftmenu{
    width: 25px;
  }

  .dropdown-item1:hover{
    background-color: #2e64cf !important;
    color: #d9e1ec !important;
  }

  .btn-link-left {
    font-weight: 400;
    color: #fff !important;
    text-decoration: none;
    font-size: 18px !important;
  }

  .btn-link-left:hover {
    color: #f3d80d !important;
    
  }

  .dropdown-item-left {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem .25rem .5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    font-size: 12px;
}

.dropdown-item-left:hover {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #f3d80d !important;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}